//header 
.header {
  .inner {
    text-align: center;
}
}
// common



.section_spot {

  .inner {
    position: relative;
    padding: 0 25px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #000;
    
  }

  .spot_text {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 80px;
    letter-spacing: 3px;
    color: #fff;
  }
}


.content_wrap {
  position: relative;
}

[class^="section_0"] {

  .inner {
    height: calc(var(--vh, 1vh) * 100);
    @include box-sizing;
  }
}


.section{

  &_00 {

    .inner {
      padding: 150px 40px;
    }

    .section_title {
      font-weight: 900;
      font-size: 60px;
      line-height: 1.2;
    }

    .des_text {
      margin-top: 50px;
      font-size: 20px;
    }
  }
}



/* select_project */
.carrer_list {
  display: -webkit-box;
  @include flex(flex);
  padding: 40px 16px 60px;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @include mobile {
    padding: 40px 0;
  }

  .list_item {
    width: calc(25% - 9px);
    min-height: 100px;
    min-width: 270px;
    padding-bottom: 20px;
    cursor: pointer;

    & + .list_item {
      padding-left: 12px;
    }

    &:nth-child(4n+1) {
      padding-left: 0;
    }

    @include tablet-1200 {
      width: calc(33.33% - 9px);

      & + .list_item {
        padding-left: 12px;
      }
  
      &:nth-child(3n+1) {
        padding-left: 0;
      }
    }

    @include tablet-1080 {
      width: calc(50% - 9px);

      & + .list_item {
        padding-left: 12px;
      }
  
      &:nth-child(2n+1) {
        padding-left: 0;
      }
    }


    @include mobile {
      width: 100%;
      margin-right: 0;
      flex-grow: 1;
    }
    

    &.border_box {
      width: calc(33.33% - 9px);
      margin-bottom: 14px;
      padding: 20px 20px 30px;
      border: 1px solid #000;
      box-sizing: border-box;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

        & + .list_item {
          margin-left: 12px;
        }
    
        &:nth-child(3n+1) {
          margin-left: 0;
        }

        @include tablet-1080 {
          width: calc(50% - 9px);
  
          & + .list_item {
            margin-left: 12px;
          }
      
          &:nth-child(2n+1) {
            margin-left: 0;
          }
        }
        @include mobile {
          width: 100%;
          margin-left: 0;
          flex-grow: 1;

          & + .list_item {
            margin-left: 0;
          }
        }


      &:hover {
        -webkit-box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px, rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
        box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px, rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
        -webkit-transform: translate3D(0, -3%, 0);
        transform: translate3D(0, -3%, 0);
      }


      
      &.on  {
        border: 1px solid #00542e;
        .back_card {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .back_card {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #00542e;
      padding: 20px 30px;
      opacity: 0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }


    .back_card_inner {
      height: 100%;
      overflow-y: auto;
      white-space: normal;
    }
    
    .box_title {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: 900;
      font-size: 15px;
      line-height: 2;
    }
    
    .card_box {

      &.bg_wh {
        color: #000;
      }

      &.bg_bl {
        color: #fff;
      }
    } 

    .btn_link {
      display: block;
      height: 100%;

    }
  }

  .box_text {

    dl {
      @include clear;
    }

    dt {
      float: left;
      min-width: 60px;
    }
    dd {
      margin-left: 10px;
      overflow: hidden;
    }
  }
  
  iframe {
    height: 500px;
  }
}

.index_area {
  @include flex(flex);
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #000;

  .text_num {
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
  }
}


.info_list {
  display: -webkit-box;
  @include flex(flex);
  padding: 4px 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #000;
  @include clear;

  &:last-child {
    border-bottom-style: none;
  }

  &.hyper {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info_title {
    float: left;
    min-width: 84px;
    width: 30%;
  }
  
  .info_des {
    overflow: hidden;
    // max-width: 196px;

    &.linked {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a {
        &.longlink {
          overflow: hidden;
        }
      }
    }
  }
}

.text_area {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;

  & + .text_area {
    margin-left: 3px;
  }

  &.bold {
    font-weight: 500;
  }

  &.justify {
    font-size: 2vh;
    text-align: justify;
  }

  .label {
    &_new {
      padding: 2px 5px;
      border-radius: 25px;
      background-color: #ff71f3;
    }  

    &_maintenance {
      padding: 2px 5px;
      border-radius: 25px;
      background-color: #00ff2f;
    }  

    &_sky {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #a5effc;
    }

    &_lime {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #cdff8b;
    }

    &_lemon {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #f4ff7a;
    }

    &_orange {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: rgb(255, 205, 112);
    }

    &_pink {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #ffc2fd;
    }

    &_lavender {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #daa6ff;
    }

    &_gray {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #bbbbbb;
    }

    &_red {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #ff6a6a;
    }
    &_navy {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #7da6ff;
    }

    &_green {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: #c3e7ce;
    }

    &_olive {
      padding: 2px 5px;
      border-radius: 24px;
      background-color: rgb(173, 173, 102);
    }
  }
}

.link {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #000;
  font-size: 0.85vw;
  line-height: 1.15;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}


.work-block {
  &.logo {
    width: 25%;
  }

  &.ui {
    margin-bottom: 20px;
  }
}

.work-container {
  @include flex(flex);
  padding-top: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img_area {
  @include flex(flex);
  width: 100%;
  height: 33vw;
 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  &.skill_logo {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &.logo_01 {
      background-image: url(../../img/icon_skill_html.png);
    }

    &.logo_02 {
      background-image: url(../../img/icon_skill_css3.png);
    }
    &.logo_03 {
      background-image: url(../../img/icon_skill_js.png);
    }
  }
}

.description_text {
  @include flex(flex);
  padding-right: 100px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  .title_text {
    font-weight: bold;
  }
}


#stack {
  width: 100%;
  margin-top: 30vh;
  // overflow: hidden;
}
.stack__inner {
  padding: 16px;

  .stack__title {
      width: 100%;
      font-size: 4vw;
      font-weight: 900;
      line-height: 1.6;
      font-family: var(--mainKor-font);
      text-transform: uppercase;
      color: var(--black100);
      border-bottom: 0.4vw solid var(--black100);
      margin-bottom: 16px;
      text-indent: -0.26vw;

      em {
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 2;
      }
  }
  .stack__wrap {
      display: flex;
      flex-wrap: wrap;
      width: 4500px;

      .stack__item {
          width: 500px;
          background-color: var(--subBg100);
          padding: 2.5rem;
          box-sizing: border-box;
          & + .stack__item {
            margin-left: 20px;
          }
          img {
            width: 100%;
          }

          &.p1 {
              background-color: var(--subBg100);
          }
          &.p2 {
              background-color: var(--subBg200);
          }
          &.p3 {
              background-color: var(--subBg300);
          }
          &.p4 {
              background-color: var(--subBg400);
          }
          &.p5 {
              background-color: var(--subBg500);
          }
          &.p6 {
              background-color: var(--subBg100);
          }
          &.p7 {
              background-color: var(--subBg200);
          }
          &.p8 {
              background-color: var(--subBg300);
          }
          &.p9 {
              background-color: var(--subBg400);
          }
          &.p10 {
              background-color: var(--subBg500);
          }
          .num {
              font-size: 2rem;
              font-family: var(--mainNum-font);
          }
          .img {
              display: block;
              margin-top: -20px;
              transition: margin-top 0.3s;

              img {
                  border-radius: 5px;
                  filter: saturate(0%);
                  transition: all 0.3s;
              }
              
              &:hover {
                  margin-top: 0;

                  img {
                      filter: saturate(100%);
                  }
              }
          }
          .title {
              font-size: 1.5rem;
              text-align: center;
              padding: 0.8rem 0;
              font-weight: 700;
              color: var(--black100);
              border-bottom: 2px solid var(--black100);
              margin-bottom: 1rem;
          }
          .desc {
              font-size: 1rem;
          }
          .site {
              border: 1px solid var(--black100);
              display: block;
              text-align: center;
              padding: 0.625rem 1.5rem;
              margin-top: 1.5rem;
              transition: all 0.2s;

              &:hover {
                  background-color: var(--black100);
                  color: var(--white);
              }
          }
      }
  }
}




.card_item {
  overflow: hidden;
  position: relative;
  margin-top: 24px;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card_item:hover {
  -webkit-box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px, rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
  box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px, rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
  -webkit-transform: translate3D(0, -3%, 0);
  transform: translate3D(0, -3%, 0);
}

@media (max-width: 1024px) {
  .card_item {
    display: inline-block;
    width: 100%;
    height: 300px;
    vertical-align: top;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .card_item:hover {
    transform: none;
  }
}

.card_item + .card_item {
  margin-top: 20px;
}

.card_item.flipped .back_card {
  opacity: 1;
  visibility: visible;
}

.front_card {
  padding: 20px 30px;
  height: 150px;
  background-color: #fafafa;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .front_card {
    height: 100%;
    padding: 10px 20px;
    white-space: normal;
  }
}

.back_card {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00542e;
  padding: 20px 30px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  .back_card {
    padding: 10px 20px;
  }
}

.back_card_inner {
  height: 100%;
  overflow-y: auto;
  white-space: normal;
}

.box_title {
  font-weight: 900;
  font-size: 20px;
  line-height: 2;
}

.box.bg_wh {
  color: #202020;
}

.box.bg_bl {
  color: #fff;
}

.box .box_text {
  font-size: 15px;
  line-height: 1.2px;
}