//color
$mainNavy: #1d2430;
// $mainNavy: #05132c;

//header
.header {
  .inner {
    text-align: center;
  }
}
// common

// section_spot
.section_spot {
  .inner {
    position: relative;
    padding: 0 25px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: linear-gradient(0deg, #e9ffdd 10%, #8eb3f2 100%);
    // background-color: #000;
  }

  .spot_text {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 80px;
    letter-spacing: 3px;
    // color: #fff;
    color: #1d2430;
  }
}

.content_wrap {
  position: relative;
}

[class^="section_0"] {
  .inner {
    @include box-sizing;
  }
}

.section {
  &_00 {
    .inner {
      padding: 150px 40px;
    }

    .des_text {
      margin-top: 50px;
      font-size: 20px;
      line-height: 1.6;
    }
  }

  &_01 {
    overflow: hidden;
    .inner {
      padding: 150px 40px;
    }
  }

  &_title {
    font-weight: 900;
    font-size: 60px;
    line-height: 1.2;
  }

  &_sub_title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;

    em {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2;
    }
  }
}

// 기술스택
.stack {
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 4000px;
    margin-top: 50px;

    .stack_item {
      width: 500px;
      box-sizing: border-box;
      cursor: pointer;

      & + .stack_item {
        margin-left: 20px;
      }
      img {
        width: 100%;
      }

      .num {
        font-size: 2rem;
        font-family: var(--mainNum-font);
      }
    }
  }
}

.stack_item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    -webkit-box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px,
      rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
    box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px,
      rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
    -webkit-transform: translate3D(0, -3%, 0);
    transform: translate3D(0, -3%, 0);
  }
  @media (max-width: 1024px) {
    .stack_item {
      display: inline-block;
      width: 100%;
      height: 400px;
      vertical-align: top;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        transform: none;
      }
    }
  }

  &.flipped .back_card {
    opacity: 1;
    visibility: visible;
  }
}

.front_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  height: 100%;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 1024px) {
  .front_card {
    height: 100%;
    padding: 10px 20px;
    white-space: normal;
  }
}

.back_card {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: linear-gradient(to top, #fff 0%, #bac8e0 100%);
  background-color: #171c2b;
  border: 1px solid #eef4ff;
  border-radius: 10px;
  padding: 40px 30px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;

  .stack_list {
    .list_item {
      position: relative;
      padding-left: 30px;
      font-size: 20px;
      line-height: 1.2;
      word-break: keep-all;

      &::before {
        content: "👩🏻‍💻";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        vertical-align: top;
        line-height: 1.2;
      }

      & + .list_item {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .back_card {
    padding: 10px 20px;
  }
}

.back_card_inner {
  height: 100%;
  overflow-y: auto;
  white-space: normal;
}

.box_title {
  font-weight: 900;
  font-size: 20px;
  line-height: 2;
}

.box .box_text {
  font-size: 15px;
  line-height: 1.2px;
}

/* 경력사항*/
.carrer_box {
  margin-top: 100px;
}
.carrer_list {
  display: -webkit-box;
  @include flex(flex);
  padding: 40px 16px 60px;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @include mobile {
    padding: 40px 0;
  }

  .list_item {
    width: calc(25% - 9px);
    min-height: 100px;
    min-width: 270px;
    padding-bottom: 20px;
    cursor: pointer;

    & + .list_item {
      padding-left: 12px;
    }

    &:nth-child(4n + 1) {
      padding-left: 0;
    }

    @include tablet-1200 {
      width: calc(33.33% - 9px);

      & + .list_item {
        padding-left: 12px;
      }

      &:nth-child(3n + 1) {
        padding-left: 0;
      }
    }

    @include tablet-1080 {
      width: calc(50% - 9px);

      & + .list_item {
        padding-left: 12px;
      }

      &:nth-child(2n + 1) {
        padding-left: 0;
      }
    }

    @include mobile {
      width: 100%;
      margin-right: 0;
      flex-grow: 1;
    }

    &.border_box {
      width: calc(33.33% - 9px);
      margin-bottom: 14px;
      padding: 20px 20px 30px;
      border: 1px solid #000;
      box-sizing: border-box;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      & + .list_item {
        margin-left: 12px;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      @include tablet-1080 {
        width: calc(50% - 9px);

        & + .list_item {
          margin-left: 12px;
        }

        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }
      @include mobile {
        width: 100%;
        margin-left: 0;
        flex-grow: 1;

        & + .list_item {
          margin-left: 0;
        }
      }

      &:hover {
        -webkit-box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px,
          rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
        box-shadow: rgba(0, 0, 33, 0.07) 0 16px 22.4px 4.8px,
          rgba(0, 0, 33, 0.05) 0 3.2px 16px 0, rgba(0, 0, 33, 0.07) 0 0 1px 0;
        -webkit-transform: translate3D(0, -3%, 0);
        transform: translate3D(0, -3%, 0);
      }
      &.on {
        border: 1px solid #00542e;
        .back_card {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .back_card {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #00542e;
      padding: 20px 30px;
      opacity: 0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }

    .back_card_inner {
      height: 100%;
      overflow-y: auto;
      white-space: normal;
    }

    .box_title {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: 900;
      font-size: 15px;
      line-height: 2;
    }

    .card_box {
      &.bg_wh {
        color: #000;
      }

      &.bg_bl {
        color: #fff;
      }
    }

    .btn_link {
      display: block;
      height: 100%;
    }
  }

  .box_text {
    dl {
      @include clear;
    }

    dt {
      float: left;
      min-width: 60px;
    }
    dd {
      margin-left: 10px;
      overflow: hidden;
    }
  }

  iframe {
    height: 500px;
  }
}

.index_area {
  @include flex(flex);
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #000;

  .text_num {
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
  }
}

.info_list {
  display: -webkit-box;
  @include flex(flex);
  padding: 4px 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #000;
  @include clear;

  &:last-child {
    border-bottom-style: none;
  }

  &.hyper {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info_title {
    float: left;
    min-width: 84px;
    width: 30%;
  }

  .info_des {
    overflow: hidden;
    // max-width: 196px;

    &.linked {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a {
        &.longlink {
          overflow: hidden;
        }
      }
    }
  }
}

.text_area {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;

  & + .text_area {
    margin-left: 3px;
  }

  &.bold {
    font-weight: 500;
  }

  &.justify {
    font-size: 2vh;
    text-align: justify;
  }

  .label {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 25px;
    background-color: #999;

    &_new {
      background-color: #ff71f3;
    }

    &_maintenance {
      background-color: #00ff2f;
    }

    &_blog {
      background-color: #a5effc;
    }

    &_naver {
      background-color: #cdff8b;
    }

    &_vita {
      background-color: #f4ff7a;
    }

    &_promotion {
      background-color: rgb(255, 205, 112);
    }

    &_happybeen {
      background-color: #ffc2fd;
    }

    &_mail {
      background-color: #daa6ff;
    }

    &_band {
      background-color: #bbbbbb;
    }

    &_lico {
      background-color: #ff6a6a;
    }
    &_sellerCenter {
      background-color: #8dc642;
    }
    &_sme {
      background-color: #7da6ff;
    }

    &_campaign {
      background-color: #96dff9;
    }

    &_search {
      background-color: rgb(146, 228, 113);
    }
  }
}

.link {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #000;
  font-size: 0.85vw;
  line-height: 1.15;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
